<div class="spot">
  <%= cl_image_tag((@spot.photo? ? @spot.photo : @spot.city.cover), :dpr => :auto, :responsive_placeholder => "blank", :width => :auto, class: "spot__image") %>
  <header class="spot__header">
    <h1 class="spot__name"><%= @spot.name %></h1>
    <span class="spot__sub-category"><%= @spot.sub_category %></span>
    <% unless @rating.score.blank? %>
      <span class="spot__score">🔥 <%= @rating.score %>&#176;</span>
    <% end %>
  </header>
  <% if user_signed_in? && policy(@spot).edit? %>
    <div class="spot__admin spacer-sm">
      <%= link_to :edit, edit_spot_path(@spot) %>
      <%= link_to :delete, spot_path(@spot), method: :delete if policy(@spot).destroy? %>
    </div>
  <% else %>
    <div class="spacer-sm"></div>
  <% end %>
  <p class="spot__description wrapper spacer-sm"><%= @spot.description %></p>
  <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/light-v9/static/#{@spot.longitude},#{@spot.latitude},14,0,0/890x400@2x?access_token=#{ENV['MAPBOX_API_KEY']}", class: "spot__static-map" %>
  <ul class="spot__details wrapper">
    <li class="spot__address spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_directions.svg") %>
      </span>
      <%= @spot.address %>
    </li>
    <li class="spot__phone-number spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_phone.svg") %>
      </span>
      <%= @spot.phone_number.blank? ? "-" : @spot.phone_number %>
    </li>
    <li class="spot__website spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_domain.svg") %>
      </span>
      <% if @spot.website.blank? %>
        <span>-</span>
      <% else %>
        <%= link_to "Website", @spot.website %>
      <% end %>
    </li>
  </ul>
  <div class="spot__spacer"></div>
  <div class="spot__rating wrapper spacer-lg">
    <h3>Hot or Not</h3>
    <p>How <span class="highlighted highlighted--text highlighted--red">hot</span> is this place?</p>
    <%= render partial: "rating", locals: { spot: @spot, rating: @rating } %>
  </div>
</div>
