<%= link_to spot_path(spot), class: "card-spot-wrapper" do %>
  <div class="card-spot" data-spot-id="<%= spot.id %>">
    <%= cl_image_tag((spot.photo? ? spot.photo.card : spot.city.cover.card), class: "card-spot__image") %>
    <div class="card-spot__text">
      <p class="card-spot__sub-category"><%= spot.sub_category %></p>
      <p class="card-spot__name"><%= spot.name %></p>
    </div>
  </div>
<% end %>
