<%= content_for(:title, "Edit #{@spot.name} in #{@spot.city.name}") %>
<div class="form">
  <h1 class="form__header">Edit <%= @spot.name %></h1>
  <div class="form__main">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= inline_svg_tag("icon_caret_left.svg", options={class: "icon icon--tiny"}) %>
    <%= link_to "Cancel", spot_path(@spot) %>
  </div>
</div>
