<%= content_for(:title, "Edit #{@spot.name} in #{@spot.city.name}") %>
<div class="form-wrapper">
  <h1 class="spacer-md">Edit <%= @spot.name %></h1>
  <div class="spacer-md">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= show_svg("caret_left.svg") %>
    <%= link_to "Cancel", spot_path(@spot) %>
  </div>
</div>
