<%= content_for(:title, "#{@city.name}") %>
<div class="spots">
  <header class="page-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.cover? ? @city.cover : @city.cover.url %>')">
    <h1 class="page-header__title"><%= @city.name %></h1>
    <p class="page-header__sub-title"><%= @city.country.name %></p>
  </header>
  <% if @city.spots.blank? %>
    <div class="spots__message-wrapper">
      <p class="spots__message">Oh, oops! No spots for <strong><%= @city.name %></strong> have been added yet. 💩</p>
      <%= link_to "Share one now", new_spot_path, class: "button button--primary" %>
    </div>
  <% else %>
    <div class="spots__main">
      <div class="spots__map-button js-map-view-btn"><%= show_svg("map.svg") %></div>
      <div class="spots__filters-button js-filter-show">Filters</div>
      <div class="spots__overlay spots__overlay--filters hide js-filters">
        <%= render "shared/filter" %>
      </div>

      <div class="js-spots-cards">
        <%= render "spots_results" %>
      </div>

      <!-- Pagination is currently unused but please leave commented for now -->
      <%# <div class="spots__pagination"> %>
        <%#= render partial: "shared/pagination", locals: { pagy: @pagy } %>
      <%# </div> %>
    </div>
  <% end %>
</div>
