<div class="spots">
  <header class="spots__header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "#{@city.name.downcase}.jpeg" %>')">
    <h1 class="spots__name"><%= @city.name %></h1>
    <div class="spots__country"><%= @city.country %></div>
  </header>
  <% if @city.spots.blank? %>
    <div class="wrapper" style="padding-top: 48px">
      <p><%= "Oh, oops! No places for #{@city.name} added yet! 💩" %></p>
      <div class="link">
        <%= show_svg("caret_left.svg") %>
        <%= link_to "Back to all cities", root_path %>
      </div>
    </div>
  <% else %>
    <%= render "shared/categories" %>
    <div class="spots__main wrapper spacer-md">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot), class: "card-spot-wrapper" do %>
          <div class="card-spot" data-spot-id="<%= spot.id %>">
            <%= image_tag "#{@city.name.downcase}.jpeg", class: "card-spot__image" %>
            <div class="card-spot__text">
              <p class="card-spot__sub-category"><%= spot.sub_category %></p>
              <p class="card-spot__name"><%= spot.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="wrapper spacer-sm">
      <%= render "shared/map" %>
    </div>
    <div class="link wrapper spacer-md">
      <%= show_svg("caret_left.svg") %>
      <%= link_to "Back to all cities", root_path %>
    </div>
  <% end %>
</div>
