<%= content_for(:title, "#{@city.name}") %>
<div class="spots">
  <header class="page-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.cover? ? @city.cover : @city.cover.url %>')">
    <h1 class="page-header__title"><%= @city.name %></h1>
    <p class="page-header__sub-title"><%= @city.country.name %></p>
  </header>
  <% if @city.spots.blank? %>
    <div class="spots__message-wrapper">
      <h2 class="spots__message"><span class="highlight highlight--purple">
        Sorry,</span> there are no hot spots
        <br>listed for this city yet.
      </h2>
      <p class="spots__message">
        Feel free to add your personal hot spots now, so that this list
        <br>doesn't stay empty for long. Otherwise feel free to select a
        <br>different category or city.
      </p>
      <%= link_to "Share your 🔥 spots", new_spot_path, class: "button button--secondary button--big spots__button" %>
      <%= link_to "Take me back", root_path, class: "button button--primary button--big spots__button" %>
    </div>
  <% else %>
    <div class="spots__main">
      <div class="spots__map-button js-map-button"><%= show_svg("map.svg") %></div>
      <div class="spots__filters-button js-filters-button">Filters</div>
      <div class="spots__filters-overlay spots__filters-overlay--hide js-filters-overlay">
        <%= render "shared/filters" %>
      </div>
      <div class="spots__results js-spot-results">
        <%= render "spots_results" %>
      </div>
      <!-- Pagination is currently unused but please leave commented for now -->
      <%# <div class="spots__pagination"> %>
        <%#= render partial: "shared/pagination", locals: { pagy: @pagy } %>
      <%# </div> %>
    </div>
  <% end %>
</div>
