<%= content_for(:title, "Add a spot for #{@city.name}") %>
<div class="form">
  <h1 class="form__header">Add a new spot for <%= @city.name %></h1>
  <div class="form__main">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= show_svg("caret_left.svg") %>
    <%= link_to "Cancel", city_spots_path(@city) %>
  </div>
</div>
