<%= content_for(:title, "#{@spot.name} · #{@spot.city.name} · #{@spot.city.country}") %>
<div class="spot">
  <%= cl_image_tag((@spot.photo? ? @spot.photo : @spot.city.cover), :dpr => :auto, :responsive_placeholder => "blank", :width => :auto, class: "spot__image") %>
  <header class="spot__header">
    <h1 class="spot__name"><%= @spot.name %></h1>
    <p class="spot__sub-category"><%= @spot.sub_category %></p>
    <% if @rating.score.present? %>
      <span class="spot__score">🔥 <%= @rating.score %>&#176;</span>
    <% end %>
  </header>
  <% if user_signed_in? && policy(@spot).edit? %>
    <div class="spot__admin">
      <% if @spot.draft? %>
        <div class="spot__link">
          <span>📬</span>
          <%= link_to "Publish", spot_status_path(@spot), method: :put %>
        </div>
      <% else %>
        <div class="spot__link">
          <span>📭</span>
          <%= link_to "Unpublish", spot_status_path(@spot), method: :put %>
        </div>
      <% end %>
      <div class="spot__link">
        <span>✏️</span>
        <%= link_to "Edit", edit_spot_path(@spot) %>
      </div>
      <div class="spot__link">
        <span>🗑</span>
        <%= link_to "Delete", spot_path(@spot), method: :delete if policy(@spot).destroy? %>
      </div>
    </div>
  <% end %>
  <p class="spot__description"><%= @spot.description %></p>
  <div class="spot__map js-spot-map">
    <%= render "shared/map" %>
  </div>
  <ul class="spot__details">
    <li class="spot__address spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_directions.svg") %>
      </span>
      <%= @spot.address %>
    </li>
    <li class="spot__phone-number spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_phone.svg") %>
      </span>
      <%= @spot.phone_number.present? ? @spot.phone_number : "-" %>
    </li>
    <li class="spot__website spot__details-item">
      <span class="spot__icon">
        <%= show_svg("icon_domain.svg") %>
      </span>
      <% if @spot.website.present? %>
        <%= link_to "Website", @spot.website %>
      <% else %>
        <span>-</span>
      <% end %>
    </li>
  </ul>
  <div class="spot__spacer"></div>
  <div class="spot__rating">
    <h3 class="spot__rating-headline">Hot or Not</h3>
    <p class="spot__rating-tagline">How <span class="highlight">hot</span> is this place?</p>
    <%= render partial: "rating", locals: { spot: @spot, rating: @rating } %>
  </div>
  <div class="caret-link caret-link--bg-gray">
    <%= show_svg("caret_left.svg") %>
    <%= link_to "Back to #{@spot.city.name}", city_spots_path(@spot.city) %>
  </div>
</div>
<% content_for :after_js do %>
  <script>
  window.ratingSlider();
  </script>
<% end %>
