<div class="filter">
  <div class="filter__header">
    <div class="filter__close js-filter-close">
      <%= show_svg("close.svg") %>
    </div>
    <div class="filter__name">Categories</div>
    <div class="filter__clear">
      <%= link_to "All", city_spots_path(@city), class: "highlight highlight--purple" %>
    </div>
  </div>
  <div class="filter__categories">
    <ul class="categories-list">
      <div class="spots__filters js-spots-filters" data-base-url=<%= city_spots_path(@city) %>>
        <% @categories.each do |category| %>
          <li class="categories-list__item">
            <input type="checkbox" id="categories-list__checkbox-<%= category.name %>" class="categories-list__checkbox js-spot-filter" data-category="<%= category.name %>">
            <label class="categories-list__label" for="categories-list__checkbox-<%= category.name %>">
              <div class="categories-list__tag">
                <%= show_svg("placemark_#{category.name}.svg") %>
                <span class="categories-list__name"><%= category.name.capitalize %></span>
              </div>
              <%= show_svg("checkbox_marked.svg") %>
            </label>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>
