<div class="filters">
  <div class="filters__header">
    <div class="filters__subheader">Categories</div>
    <div class="link link--underline js-filters-clear-all">Clear All</div>
  </div>
  <div class="filters__main js-filters-main" data-base-url="<%= city_spots_path(@city) %>">
    <ul class="filters__list">
      <% @categories.each do |category| %>
        <li class="filters__item">
          <input type="checkbox" id="filters__checkbox-<%= category.name %>" class="filters__checkbox js-filters-checkbox" data-category="<%= category.name %>">
          <label class="filters__label" for="filters__checkbox-<%= category.name %>">
            <div class="filters__tag">
              <%= inline_svg_tag("icon_location_marker.svg", options={class: "icon icon--location-marker icon--#{category.name}"}) %>
              <span class="filters__name"><%= category.name.capitalize %></span>
            </div>
            <span class="filters__label-checkbox">
              <%= inline_svg_tag("icon_checkbox_marked.svg", options={class: "icon icon--tiny icon--checkbox"}) %>
            </span>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
</div>
