<footer>
  <div class="footer__references spacer-lg">
    <p>Le Wagon is an intensive 9-week coding bootcamp.</p>
    <p>Their aim is to "bring tech skills to creative people."</p>
    <div class="link">
      <%= link_to "Discover Le Wagon's Program", "https://www.lewagon.com" %>
      <%= show_svg("caret_right.svg") %>
    </div>
  </div>
  <div class="footer__disclaimer">
    <span>Disclaimer</span>
    <p>Wagon City Guides is not endorsed by Le Wagon. It's an independent project by <%= link_to "Laura Crompton", "https://github.com/lozdesign" %> and <%= link_to "Mirha Masala", "https://www.mirhamasala.com/about" %>.</p>
    <p>For more information and a list of all contributors, have a look at our <%= link_to "GitHub repository", "https://github.com/mirhamasala/lw_city_guide" %>.</p>
  </div>
</footer>
