<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <%= show_svg("logo_compass.svg") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <% if cookies[:theme] == 'dark' %>
          <%= link_to light_theme_path do %>
            <%= inline_svg_tag('sun-icon.svg', options={class: 'theme-icon nav-link'}) %>
          <% end %>
          <% else %>
          <%= link_to dark_theme_path do %>
            <%= inline_svg_tag('moon-icon.svg', options={class: 'theme-icon nav-link'}) %>
          <% end %>
        <% end %>
      </li>
      <% unless current_page?(root_path) %>
        <li><%= link_to "Explore all cities", root_path, class: "nav-link" %></li>
      <% end %>
        <li><%= link_to "Share your 🔥spots", new_spot_path, class: "nav-link" %></li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
