<div class="dashboard">
  <div class="dashboard__profile">
    <div class="dashboard__avatar">
      <%= image_tag current_user.avatar, class: "dashboard__userPicture" %>
    </div>
    <div class="dashboard__profileDetails">
      <h1 class="dashboard__header"><%= current_user.name %></h1>
      <p><%= link_to "ðŸ¤– Edit profile", edit_user_registration_path, class: "link" %></p>
      <p><%= "ðŸ“§ #{current_user.email}" if current_user.email.present?%></p>
      <p><%= link_to "ðŸ‘¾ #{current_user.github_profile}", current_user.github_profile %></p>
    </div>
  </div>
  <div class="dashboard__mainWrapper">
    <% if @spots.any? %>
      <div class="dashboard__status">
        <h3 class="dashboard_statusHeader">Status</h3>
        <p class="dashboard__publishedSpotsSize"><span class="dashboard__publishedSpotsSizeDigit"><%= @published_spots.size %></span> ðŸ”¥ <%= 'spot'.pluralize(@published_spots.size) %> shared</p>
      </div>
      <% end %>
    <div class="dashboard__main">
      <% if current_user.admin? || current_user.city_keeper? %>
        <div class="dashboard__section">
          <h2 class="dashboard__sectionHeader">Dashboard</h2>
          <div class="dashboard__subSection">
            <h3 class="dashboard__subSectionHeader"><%= "#{'Pending review'.pluralize(@unpublished_spots.size)}" " Â· #{@unpublished_spots.size}" %></h3>
            <div class="dashboard__unpublishedSpots">
              <% @unpublished_spots_by_city.each do |city, spots| %>
                <h3 class="dashboard__subSectionHeader"><%= city.name %></h3>
                <ul class="dashboard__list">
                  <% spots.each do |spot| %>
                    <li class="dashboard__listItem">
                      <p class="dashboard__listItemName"><%= spot.name %></p>
                      <span>&nbsp;Â·&nbsp;</span>
                      <%= link_to spot.owner.username, spot.owner.github_profile if spot.owner.github_profile.present? %>
                      <div class="dashboard__listLinkWrap">
                        <%= link_to "ðŸ‘€ view", spot_path(spot), class: "dashboard__listLink" %>
                        <%= link_to "âœï¸ edit", edit_spot_path(spot), class: "dashboard__listLink" %>
                        <%= link_to "ðŸ—‘ delete", spot_path(spot), method: :delete, class: "dashboard__listLink" %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="dashboard__subSection">
              <h3 class="dashboard__subSectionHeader">Countries</h3>
              <ul class="dashboard__list">
                <% @countries.each do |country| %>
                    <li class="dashboard__listItem">
                      <p class="dashboard__listItemName"><%= country.name %></p>
                      <div class="dashboard__listLinkWrap">
                        <%= link_to "âœï¸ edit", edit_country_path(country), class: "dashboard__listLink" %>
                        <%= link_to "ðŸ—‘ delete", country_path(country), method: :delete, class: "dashboard__listLink" %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <div class="dashboard__link">
                <%= link_to "+ Add new country", new_country_path, class: "link link--underline" %>
              </div>
            </div>
            <div class="dashboard__subSection">
              <h3 class="dashboard__subSectionHeader">Cities</h3>
              <ul class="dashboard__list">
                <% @cities.each do |city| %>
                  <li class="dashboard__listItem">
                    <p class="dashboard__listItemName"><%= city.name %></p>
                    <div class="dashboard__listLinkWrap">
                      <%= link_to "âœï¸ edit", edit_city_path(city), class: "dashboard__listLink" %>
                      <%= link_to "ðŸ—‘ delete", city_path(city), method: :delete, class: "dashboard__listLink" %>
                    </div>
                  </li>
                <% end %>
              </ul>
              <div class="dashboard__link">
                <%= link_to "+ Add new city", new_city_path, class: "link link--underline" %>
              </div>
            </div>
            <div class="dashboard__subSection">
              <h3 class="dashboard__subSectionHeader">Categories</h3>
              <ul class="dashboard__list">
                <% @categories.each do |category| %>
                  <li class="dashboard__listItem">
                    <div class="dashboard__placemarkIcon">
                      <%= show_svg("placemark_#{category.name}.svg") %>
                    </div>
                    <p class="dashboard__listItemName"><%= category.name %></p>
                    <div class="dashboard__listLinkWrap">
                      <%= link_to "âœï¸ edit", edit_category_path(category), class: "dashboard__listLink" %>
                      <%= link_to "ðŸ—‘ delete", category_path(category), method: :delete, class: "dashboard__listLink" %>
                    </div>
                  </li>
                <% end %>
              </ul>
              <div class="dashboard__link">
                <%= link_to "+ Add new category", new_category_path, class: "link link--underline" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @spots.any? %>
        <div class="dashboard__section">
          <h2 class="dashboard__sectionHeader">Your Spots</h2>
          <div class="dashboard__publishedSpots">
            <% @published_spots_by_city.each do |city, spots| %>
              <h3 class="dashboard__subSectionHeader"><%= city.name %></h3>
              <ul class="dashboard__list">
                <% spots.each do |spot| %>
                  <li class="dashboard__listItem">
                    <p class="dashboard__listItemName"><%= spot.name %></p>
                    <div class="dashboard__listLinkWrap">
                      <%= link_to "ðŸ‘€ view", spot_path(spot), class: "dashboard__listLink" %>
                      <% if current_user.admin? || current_user.city_keeper? %>
                        <%= link_to "âœï¸ edit", edit_spot_path(spot), class: "dashboard__listLink" %>
                        <%= link_to "ðŸ—‘ delete", spot_path(spot), method: :delete, class: "dashboard__listLink" %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <% unless current_user.admin? %>
            <h3 class="dashboard__subSectionHeader"><%= "#{'Pending review'.pluralize(@unpublished_spots.size)}" " Â·Â #{@unpublished_spots.size}" %></h3>
            <ul class="dashboard__list">
              <% @unpublished_spots.each do |spot| %>
                <li class="dashboard__listItem">
                  <div class="dashboard__listWrap">
                    <span><%= spot.name %></span>
                    <span>pending review</span>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% else %>
        <% if current_user.admin? || current_user.city_keeper? %>
          <h2 class="dashboard__sectionHeader">Your Spots</h2>
        <% end %>
        <div class="dashboard__message">
          <p><span class="dashboard__highlight highlight highlight--yellow">Oh, bummer!</span> It looks like you haven't added any spots yet.<p>
          <p>Please don't keep all the good stuff to yourself, and share your favorite hot spots with us now.</p>
          <%= link_to "Share your spots", new_spot_path, class: "button button--big button--secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
