<%= content_for(:title, "Edit #{@city.name}") %>
<div class="form">
  <h1 class="form__header">Edit <%= @city.name %></h1>
  <div class="form__main">
    <%= render "form" %>
  </div>
  <div class="caret-link">
    <%= show_svg("caret_left.svg") %>
    <%= link_to "Cancel", cities_path %>
  </div>
</div>
