<div class="cities">
  <div class="cities__header spacer-sm">
    <h1 class="cities__headline headline-container">Which <span class="highlighted highlighted--purple">place</span> would you like to explore?</h1>
    <%= show_svg("cities_background.svg") %>
  </div>
  <div class="cities__main main-container">
    <% for city in @cities %>
      <%= link_to city_spots_path(city), class: "card-wrap" do %>
        <div class="card-spot spacer-xs">
          <%= image_tag "#{city.name.downcase}.jpeg", class: "card-spot__photo" %>
          <div class="card-spot__text">
            <p><%= city.name %></p>
            <p><%= pluralize city.spots.size, "spot" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
