<div class="wrapper-form">
  <h1>Add City</h1>
  <%= simple_form_for(@city) do |f| %>
    <%= f.input :name %>
    <%= f.input :country %>
    <%= f.input :photo %>
    <%= f.submit %>
  <% end %>
</div>
