<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) + " · Wagon City Guides" : "Wagon City Guides" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/198/world-map_1f5fa.png" %>
    <% if cookies[:theme] == "dark" %>
      <%= stylesheet_link_tag "application_dark", media: "all", "data-turbolinks-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "application_light", media: "all", "data-turbolinks-track": "reload" %>
    <% end %>
  </head>
  <body class="main-container">
    <div class="main-container__top">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <div class="main-container__footer">
      <%= render "shared/footer" %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <% if content_for?(:after_js) %>
      <%= yield :after_js %>
    <% end %>
  </body>
</html>
